#loading-container{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#loading-container img{
  animation: 1s logoM;
}


.loading-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #ccc;
    border-top-color: #0b9e79;
    animation: spin 1s infinite linear;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
      opacity: -1;
    }
    to {
      transform: rotate(360deg);
      opacity: 1;
    }
  }

  @keyframes logoM {
    from{
      width: 500px;
      height: 500px;

    }
    to{
      width: 40px;
      height: 40px;

    }
  }