#Places{
    height:auto;
    
}
#Places h2{
  position: relative;
  top: 100px;
  
}
.places-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 3%;
    justify-content: center;
    align-items: center;
   
}
.home-people{
  width: 90%;
  padding: 5px;
  border-radius: 34px;
  background-color: var(--secondry_color);
  height: 300px;
}
.home-people:hover{
  box-shadow: 0 2px 4px var(--primary_color);
}
.home-people-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 30px;
  height: 100%;
}

.cards {
    width: 90%;
    height: 300px;
    /* background-color: var(--third_color); */
    border-radius: 34px;
    background-color: var(--secondry_color);
    padding: 5px;
    box-shadow: 0.1px 0.1px 3px 0.1px #00000040 ;
    overflow: hidden;
  }
  .cards a:hover{
    background-color: transparent;
  }
  .cards:hover {
    box-shadow: 0 2px 4px var(--secondryPrimary_color);
  }

  .card-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    opacity: 0.9;
   
  }

  .card-content {
    padding: 16px;
  }

  .card-title {
    margin: 0;
    font-weight: bold;
    color: var(--seco);
  }
  .card-head{
    color: var(--content_color);
  }

  .card-description {
    margin: 8px 0;
  }

  .card-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: var(--secondryPrimary_color);
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
  }
  .border-animation{
    width: 50%;
    height: 2px;
    background-color: var(--secondryPrimary_color);
    animation: borderAnimation 2s alternate infinite;
  }


  @keyframes borderAnimation {
    from{
      width: 0;

    }
    to{
      width: 50%;

    }
    
  }
  @media screen  and (max-width:600px){
    
    #Places h2{
      
      top: 40px;
      
    }
    .home-people{
      width: 100%;
    margin: 0 4% 0 4%;
    }
    
    .cards{
        width: 100%;
        margin: 0 4% 0 4%;
        overflow: visible;
        gap: 0;
      }
    


  }