#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    
}
.about-discription{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-discription p{
    width: 80%;
    color: var(--content_color);

}
.about-discription td{
    border: 1px solid var(--border_color);
    padding: 10px;
    color: var(--content_color);
}
.table-container label{
    color: var(--secondryPrimary_color);

}