.Home{
    height: auto;
    overflow: hidden;
}
.Home-header h3{
    margin: 0px;
   
}


.text {
   
    text-transform: uppercase;
    font-family: verdana;
    font-size: 5.5em;
    font-weight: 700;
    color: var(--secondryPrimary_color);
    
}

.welcome{
    font-size: 2rem;
    color: var(--content_color);
    animation: reverseTransformation 1s;
    animation-direction: reverse;
    animation-fill-mode: backwards;
}




.villageNameHome {
    width: 73%;
    /* margin-bottom: -10%; */
    position: relative;
    padding-bottom: 30px;
    /* font-size: 100px; */
    /* top: 100px; */
    animation: transformation 1.5s ease ;

}
.videoDivContainer {
    overflow: hidden;
    width:100vW ;
    height: 70vh;

}
.bg-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.name-container{
    position: absolute;
    top: 65px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
}
.paradise-section p{

    padding: 0% 3%;
    text-align: justify;
    color:var(--content_color);
    margin: 0;

}




@keyframes reverseTransformation {
    form{
        top: -100px;
        opacity: -2;

    }
    to {
        top:0;
        opacity: 1;


    }
    
}

@keyframes transformation {
    
  from {
    top:100px;
    opacity: -1;
  }
  to {
    top:0;
    opacity: 1;
}

    
}

@media screen and (max-width:1000px){
   
    .text{
        font-size: 4rem;
    }
    
    
  }
  @media screen  and (max-width:600px){
    .Home-header h3{
        
        font-size: 16px;
        padding: 5px;
       
    }
    .name-container{
        top: 50px;
    }
    .paradise-section p{
        padding: 3%;
    }
    .text{
        font-size: 2.4rem;
    }
  
    
    
    
    
  }