#Header{
  position: fixed;
  z-index: 5;
  height: 60.94px;
  overflow: hidden;
  width: 100%;
  animation: heightAnimationForHeader-d 0.5s alternate;

}
.blurred-nav{
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  
}

.Header-header{
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  /* border-bottom: 1px solid var(--primary_color); */
}
.Header-header h1{
  /* padding: 0%; */
  padding: 1%;
  font-size: 1.6rem;
  margin: 0;

}

@keyframes heightAnimationForHeader-m {
  from{
      height: 0;

  }
  to{
      height: 50px;

  }
  
}
@keyframes heightAnimationForHeader-d {
  from{
      height: 0;

  }
  to{
      height: 60.94px;

  }
  
}
@media screen  and (max-width:600px){
  #Header{
    height: 50px;
    animation: heightAnimationForHeader-m 0.5s alternate;

  }
}




