
:root{

 
  --primary_color :#e6edf3 ;

  --secondryPrimary_color:#C9D1D9;

  --secondry_color:#161b22;
  --green_color:#39d353;
 
  --content_color:#7d8590;

  --border_color:#30363d;

  --link_color:#2F81F7;
  
  --background_color: #010409;

  
 } 

 *{
  color: var(--secondryPrimary_color);
 }
 

 h2{
  
  display: flex;
  padding: 2% 2% 2% 3%;
  color: var(--secondryPrimary_color);
  margin: 0;

 }

 p{
  padding: 2% 2%;
  margin: 0;
  text-align: justify;
 }
 .App {
    text-align: center;
    font-size: 1rem;
    background-color: var(--background_color);
  }
  input{
    background-color: transparent;
    border: 1px solid var(--border_color);
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.leaflet-container{
  height: 400px;
  width: 90%;
}
a{
  text-decoration: none;
}

a:hover{
  background-color: var(--secondry_color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen  and (max-width:600px){
  h2{
    padding: 2% 2% 2% 6%;
    font-size: 1.6rem;

  }
  
 
  p{
    font-size: 15px;
  }
  
}
