#listPage{
    height: auto;
    overflow-x: hidden;
}

.list-videoDivContainer {
    overflow: hidden;
    min-width: 320px;
    width:100vW ;
    height: 100vh;

}
.content-container{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--border_color);
}

.list-name-container{
    position: absolute;
    top: 0;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.3);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
#listPage-main-heading h1{
    font-size: 3.3rem !important;

    
}

@media screen  and (max-width:600px){
    #listPage-main-heading h1{
        font-size: 2rem !important;

    }
    .list-videoDivContainer{
        height: 40rem;
    }
    .list-name-container{
        height: 40rem;
    }
}